{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/logo/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>加载中。。。</title>
    <style>
      body {
          /* 设置背景图片的位置 */
          background-image: url('{% static 'login/background-cdf55e3f.jpg' %}');
          /* 设置背景图片在视口中居中 */
          background-position: center center;
          /* 设置背景图片不重复 */
          background-repeat: no-repeat;
          /* 设置背景图片固定在视口中，不随内容滚动而移动 */
          background-attachment: fixed;
          /* 这是让背景图片根据容器大小自适应的关键属性 */
          background-size: cover;
        }
    </style>
    <script type="module" crossorigin src="{% static 'login/index-6d03808c.js' %}"></script>
    <link rel="stylesheet" href="{% static 'login/index-b9f1492e.css' %}">
  </head>
  <body>
    <div id="login"></div>
  </body>
</html>
